body {
  width: 80%;
  margin: 35px auto;
  font-family: sans-serif;
}

h3 {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

b{
  font-family: Arial, Helvetica, sans-serif;
  color: #f863fa;
  font-size: 15px;
  
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}

a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
}

a:hover img {
  transform: scale(1.05);
}

figure {
  margin: 0;
  overflow: hidden;
}

h2 {
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: #f863fa;
	font-size: 15px;
  /* border:2px solid #7be7ff; */
}

figcaption {
  margin-top: 15px;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  /* background: #ccc; */
  transition: transform .2s ease-in-out;
}
